.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #6e2715;
  padding: 20px;
  font-size: 1.25rem;
  padding-bottom: 2rem;
}

.text {
  color: white;
  flex-direction: column;
  align-items: flex-start;
}

.text h1 {
  color: gold;
  font-size: 1.25rem;
}

.text a {
  color: white;
  font-size: 1rem;
}
