.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #6e2715;
  padding: 0 10%;
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #f5a30a;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}

.badge {
  background-color: #f5a30a;
  color: white;
  border-radius: 12px;
  padding: 0 1rem;
  margin-left: 0.5rem;
}

@media (min-width:275px) {
  .header  {
  padding: 0 2%;
  }
}

@media (min-width:400px) {
  .header  {
  padding: 0 3%;
  }
}

@media (min-width:500px) {
  .header  {
  padding: 0 4%;
  }
}

@media (min-width:600px) {
  .header  {
  padding: 0 5%;
  }
}

@media (min-width:700px) {
  .header  {
  padding: 0 6%;
  }
}

@media (min-width:800px) {
  .header  {
  padding: 0 7%;
  }
}

@media (min-width:900px) {
  .header  {
  padding: 0 8%;
  }
}

@media (min-width:275px) {
  .logo  {
  font-size: 0.4rem;
  }
}

@media (min-width:320px) {
  .logo  {
  font-size: 0.5rem;
  }
}

@media (min-width:360px) {
  .logo  {
  font-size: 0.6rem;
  }
}

@media (min-width:400px) {
  .logo  {
  font-size: 0.7rem;
  }
}

@media (min-width:430px) {
  .logo  {
  font-size: 0.8rem;
  }
}

@media (min-width:460px) {
  .logo  {
  font-size: 0.9rem;
  }
}

@media (min-width:500px) {
  .logo  {
  font-size: 1rem;
  }
}

@media (min-width:540px) {
  .logo  {
  font-size: 1.1rem;
  }
}

@media (min-width:580px) {
  .logo  {
  font-size: 1.2rem;
  }
}

@media (min-width:620px) {
  .logo  {
  font-size: 1.3rem;
  }
}

@media (min-width:660px) {
  .logo  {
  font-size: 1.4rem;
  }
}

@media (min-width:700px) {
  .logo  {
  font-size: 1.5rem;
  }
}

@media (min-width:740px) {
  .logo  {
  font-size: 1.6rem;
  }
}

@media (min-width:780px) {
  .logo  {
  font-size: 1.7rem;
  }
}

@media (min-width:820px) {
  .logo  {
  font-size: 1.8rem;
  }
}

@media (min-width:860px) {
  .logo  {
  font-size: 1.9rem;
  }
}

@media (min-width:900px) {
  .logo  {
  font-size: 2rem;
  }
}

@media (min-width:275px) {
  .header a  {
  font-size: 0.4rem;
  }
}

@media (min-width:320px) {
  .header a  {
  font-size: 0.5rem;
  }
}

@media (min-width:400px) {
  .header a  {
  font-size: 0.6rem;
  }
}

@media (min-width:450px) {
  .header a  {
  font-size: 0.7rem;
  }
}

@media (min-width:500px) {
  .header a  {
  font-size: 0.8rem;
  }
}

@media (min-width:550px) {
  .header a  {
  font-size: 0.9rem;
  }
}

@media (min-width:600px) {
  .header a  {
  font-size: 1rem;
  }
}

@media (min-width:650px) {
  .header a  {
  font-size: 1.1rem;
  }
}

@media (min-width:700px) {
  .header a  {
  font-size: 1.2rem;
  }
}

@media (min-width:750px) {
  .header a  {
  font-size: 1.3rem;
  }
}

@media (min-width:800px) {
  .header a  {
  font-size: 1.4rem;
  }
}

@media (min-width:850px) {
  .header a  {
  font-size: 1.5rem;
  }
}

@media (min-width:275px) {
  .header li {
    margin-left: 1rem;
  }
}

@media (min-width:400px) {
  .header li {
    margin-left: 1.2rem;
  }
}



