.item {
  margin: 1rem 0;
}

.image {
  width: 100%;
  height: 20rem;
  overflow: hidden;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.image img {
  width: 100%;
  object-fit: cover;
}

.content {
  text-align: center;
  padding: 1rem;
}

.content h3 {
  font-size: 1.25rem;
  color: #2c292b;
}

.actions {
  padding: 1.5rem;
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  color: #6e2715;
  border: 1px solid #6e2715;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.actions button:hover,
.actions button:active {
  background-color: #ffe2ed;
}

@media (min-width:275px) {
  .content {
  font-size: 0.6rem;
  }
}

@media (min-width:400px) {
  .content {
  font-size: 0.7rem;
  }
}

@media (min-width:500px) {
  .content {
  font-size: 0.8rem;
  }
}

@media (min-width:600px) {
  .content {
  font-size: 0.9rem;
  }
}

@media (min-width:700px) {
  .content {
  font-size: 1rem;
  }
}

@media (min-width:800px) {
  .content {
  font-size: 1rem;
  }
}

@media (min-width:900px) {
  .content {
  font-size: 1.1rem;
  }
}

@media (min-width:275px) {
  .content h3  {
  font-size: 0.6rem;
  }
}

@media (min-width:400px) {
  .content h3  {
  font-size: 0.7rem;
  }
}

@media (min-width:500px) {
  .content h3  {
  font-size: 0.8rem;
  }
}

@media (min-width:600px) {
  .content h3  {
  font-size: 0.9rem;
  }
}

@media (min-width:700px) {
  .content h3  {
  font-size: 1rem;
  }
}

@media (min-width:800px) {
  .content h3  {
  font-size: 1.1rem;
  }
}

@media (min-width:900px) {
  .content h3  {
  font-size: 1.25rem;
  }
}

@media (min-width:275px) {
  .actions  {
  font-size: 0.6rem;
  }
}

@media (min-width:400px) {
  .actions  {
  font-size: 0.7rem;
  }
}

@media (min-width:500px) {
  .actions  {
  font-size: 0.8rem;
  }
}

@media (min-width:600px) {
  .actions  {
  font-size: 0.9rem;
  }
}


