.form {
  padding: 1rem;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input,
.control textarea {
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 100%;
}

.actions {
  margin-top: 1rem;
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: #6e2715;
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid #f5a30a;
  border-radius: 4px;
  font-weight: bold;
}

.actions button:hover,
.actions button:active {
  background-color: #f5a30a;
  border-color: #f5a30a;
}

@media (min-width:275px) {
  .control label {
  font-size: 0.6rem;
  }
}

@media (min-width:400px) {
  .control label {
  font-size: 0.7rem;
  }
}

@media (min-width:500px) {
  .control label {
  font-size: 0.8rem;
  }
}

@media (min-width:600px) {
  .control label {
  font-size: 0.9rem;
  }
}

@media (min-width:700px) {
  .control label {
  font-size: 1rem;
  }
}

@media (min-width:275px) {
  .actions {
  font-size: 0.6rem;
  }
}

@media (min-width:400px) {
  .actions {
  font-size: 0.7rem;
  }
}

@media (min-width:500px) {
  .actions {
  font-size: 0.8rem;
  }
}

@media (min-width:600px) {
  .actions {
  font-size: 0.9rem;
  }
}

@media (min-width:700px) {
  .actions {
  font-size: 1rem;
  }
}

@media (min-width:800px) {
  .actions {
  font-size: 1.1rem;
  }
}
