@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: #b85c44;
}

h1 {
  font-size: 2.5rem;
  color:#2c292b;
}

h2 {
  font-size: 1.5rem;
  color: #2c292b;
}

@media (min-width:275px) {
  h1  {
  font-size: 0.7rem;
  }
}

@media (min-width:325px) {
  h1  {
  font-size: 0.8rem;
  }
}

@media (min-width:400px) {
  h1  {
  font-size: 0.9rem;
  }
}

@media (min-width:450px) {
  h1  {
  font-size: 1rem;
  }
}

@media (min-width:500px) {
  h1  {
  font-size: 1.1rem;
  }
}

@media (min-width:550px) {
  h1  {
  font-size: 1.2rem;
  }
}

@media (min-width:600px) {
  h1  {
  font-size: 1.3rem;
  }
}

@media (min-width:650px) {
  h1  {
  font-size: 1.4rem;
  }
}

@media (min-width:700px) {
  h1  {
  font-size: 1.5rem;
  }
}

@media (min-width:750px) {
  h1  {
  font-size: 1.6rem;
  }
}

@media (min-width:800px) {
  h1  {
  font-size: 1.7rem;
  }
}

@media (min-width:850px) {
  h1  {
  font-size: 1.8rem;
  }
}

@media (min-width:900px) {
  h1  {
  font-size: 1.9rem;
  }
}

@media (min-width:950px) {
  h1  {
  font-size: 2rem;
  }
}

@media (min-width:1000px) {
  h1  {
  font-size: 2.1rem;
  }
}

@media (min-width:1050px) {
  h1  {
  font-size: 2.5rem;
  }
}

